/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

ul.blank-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bullet-fix {
    list-style-type: disc !important;
}

img{
    width: auto;
    height: 100%;
}

// Removing default button styles
button {
    all: unset;
    white-space: nowrap;
}

.squares{
    background-color: var(--key);
}