/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

ul.blank-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bullet-fix {
    list-style-type: disc !important;
}

img {
    width: 100%;
    height: auto;
}

.margins {
    margin-left: 24px;
    margin-right: 24px;

    @include md {
        margin-left: 32px;
        margin-right: 32px;
    }

    @include xl {
        margin-left: 64px;
        margin-right: 64px;
    }
}

.square {
    background-color: var(--key);
    width: 24px;
    height: 24px;

    &.green {
        background-color: var(--green);
    }

    &.cyan {
        background-color: var(--cyan);
    }

    &.white {
        background-color: var(--white);
    }

    &.magenta {
        background-color: var(--magenta);
    }
}