/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ul.blank-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bullet-fix {
    list-style-type: disc !important;
}

img,
video {
    width: 100%;
    height: auto;
}

.margins {
    margin-left: 24px;
    margin-right: 24px;

    @include md {
        margin-left: 32px;
        margin-right: 32px;
    }

    @include xl {
        margin-left: 64px;
        margin-right: 64px;
    }
}

$square-colors: (
    green: var(--green),
    cyan: var(--cyan),
    white: var(--white),
    magenta: var(--magenta)
);

.square {
    width: 24px;
    height: 24px;
    background-color: var(--key);

    @each $name, $color in $square-colors {
        &.#{$name} {
            background-color: $color;
        }
    }
}


.puzzle-type {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 12px 0 0 0;

    span {
        display: block;
        position: absolute;
        transition: all 0.3s ease;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
}

.background-transition {
    transition: background-color 0.3s ease-in-out;

    &.cyan-background {
        background-color: var(--cyan);
        color: var(--white);
    }

    &.black-background {
        background-color: var(--key);
        color: var(--white);
    }

    &.white-background {
        background-color: var(--white) !important;
        color: var(--key);
    }
}