.cursors {
    position: fixed;
    width: 14px;
    height: 14px;
    background-color: var(--magenta);
    pointer-events: none;
    z-index: 9999;
    border-radius: 0px;
    transform: translate(-50%, -50%);
    transition: width 0.25s cubic-bezier(0.34, 1.56, 0.64, 1), 
                height 0.25s cubic-bezier(0.34, 1.56, 0.64, 1),
                transform 0.15s ease-in-out;

    &.hover-button {
        background-color: var(--key);
        width: 20px;
        height: 20px;
    }
    
    &.hover-one {
        z-index: 0;
        width: var(--link-width);
        height: var(--link-height);
    }

    &.hover-two {
        transform-origin: bottom center;
        transform: translate(-50%, -50%) scale(1.6) rotate(-25deg);
        background-color: var(--green);
    }

    &.hover-link-nav {
        z-index: 998;
        width: var(--link-width);
        height: var(--link-height);
    }

    
}

// Hide the default cursor for the entire document
@include lg {
    html, body, * {
        cursor: none;
    }
}

