/* =============
    Typography
============= */
body {
    font-family: degular-mono, sans-serif;
}

.noLink a{
    color: initial !important;
    text-decoration: none !important;
}


/* Button Text */
.button-text {
    color: var(--key);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}