/* =============
    Typography
============= */
body {
    font-family: degular-mono, sans-serif;
}

a.no-link{
    color: initial !important;
    text-decoration: none !important;
}


/* Button Text */
.button-text {
    color: var(--key);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.centered-text {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em; /* Adjust tracking */
    cursor: pointer; /* Adds the pointer cursor on hover */
}