/* Arrow Button */
.arrow-btn {
  position: relative;
  padding: 20px 30px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.floating-arrow {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.arrow-0 {
  -webkit-transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: inline-block;
}

.arrow-btn:hover {
  color: var(--magenta);
}
.arrow-btn:hover .floating-arrow {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.arrow-btn:hover .arrow-0 {
  -webkit-transform: translateX(10px);
          transform: translateX(10px); /* Adjusted to account for absolute positioning */
}

.arrow-1 {
  top: 1.2rem;
  left: 0rem;
}
.arrow-2 {
  top: 0rem;
  right: 4rem;
}
.arrow-3 {
  bottom: 0rem;
  left: 11rem;
}

/* End Arrow Button */