/* =============
    Footer
============= */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 18px 24px;
    z-index: 2;

    @include md {
        padding: 24px 32px;
    }

    @include xl {
        padding: 24px 64px;
    }

    p {
        margin: 0;
    }

    .footer-column {
        &.column1,
        &.column2 {
            .square {
                display: none;
            }
        }

        &.column1 {
            grid-area: column1;

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
        }

        &.column2 {
            grid-area: column2;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas:
                "contact contact"
                "email icons";

            h4 {
                grid-area: contact;
            }

            p {
                grid-area: email;
                padding: 6px 0;
            }

            .footer-icon-tray {//Footer icon hover behavior
                grid-area: icons;
                display: flex;
                gap: 8px;
                align-items: flex-start;

                a {
                    &:hover,
                    &:focus {
                        filter: brightness(0) invert(1);
                    }
                    height: 22px;
                    width: 22px;
                    margin-left: -2px;
                    &:nth-child(2) {
                        margin-left: 8px;
                    }
                }

                .footer-icon {
                    width: 20px;
                    height: 20px;
                    fill: var(--key);
                    transition: fill 0.2s, transform 0.3s ease;
                    vertical-align: middle;
                    display: inline-block;

                    &:hover {
                        fill: var(--white);
                        transform: scale(1.1)
                    }
                }
            }   
        }

        &.column3 {
            grid-area: column3;
            display: flex;
            padding-top: 280px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 8px;
            align-self: stretch;
        }
    }

    @include md {
        height: 256px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        grid-template-areas: "column2 column1 column3";

        .square {
            display: block !important;
        }

        .footer-column {
            &.column1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                div:nth-child(1) {
                    align-self: center;
                }
            }

            &.column2 {
                height: 100%;
                grid-template-rows: auto 1fr auto auto auto;
                grid-template-areas:
                    "icons"
                    "spacer"
                    "contact"
                    "email"
                    "square";

                .spacer {
                    grid-area: spacer;
                }

                .square {
                    grid-area: square;
                }

                p { //Email hover behavior

                    a { //Adding padding to the email so the pink hover looks better
                        padding-right: 6px;
                        // transition: 0.2s ease-in-out;

                        &:hover,
                        &:focus {
                            color: var(--white);
                        }
                    }

                   
                }
            }

            &.column3 {
                height: 100%;
                padding-top: 0;
                flex-direction: row !important;

                .square {
                    order: 1;
                }
            }
        }

    }
}