/* =============
    Header
============= */
header {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    gap: 1rem;
    padding: 12px 24px;
    justify-content: space-between;
    z-index: 999;
    top: 0;
    pointer-events: none;

    img{
        width: auto;
        max-width: 20ch;
        height: 100%;
    }

    @include sm {
        padding: 1rem 2rem;
    }

    @include md {
        padding: 0.5rem 2rem;
    }

    @include lg {
        padding: 0.5rem 4rem;
    }

    .logo-container {
        height: 2em;
        pointer-events: auto;

        #desktop-logo {
            display: none;

            @media (min-width: 900px) {
                display: block;
            }
        }

        @media (min-width: 900px) {
            #mobile-logo {
                display: none;
            }
        }
    }

    nav {
        button{
            @include md{
                display: none;
            }
        }
        
        ul {
            display: none;
            gap: 48px;

            @include md {
                display: flex;
            }
        }
    }

    .test {
        text-transform: uppercase;
    }

    a, button, img {
        pointer-events: auto;
    }
    
    a {
        &:hover {
            position: relative;
            z-index: 100000;
        }
    }
}