/* =============
    Header
============= */
header {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    gap: 1rem;
    padding: 12px 24px;
    justify-content: space-between;
    z-index: 999;
    top: 0;

    img{
        width: auto;
        height: 100%;
    }

    @include sm {
        padding: 16.125px 32.25px;
    }

    @include md {
        padding: 1.5rem /*24px*/ 4rem /*64px*/;
    }

    .logo-container {
        height: 2em;

        #desktop-logo {
            display: none;

            @media (min-width: 900px) {
                display: block;
            }
        }

        @media (min-width: 900px) {
            #mobile-logo {
                display: none;
            }
        }
    }

    nav {
        button{
            @include md{
                display: none;
            }
        }
        
        ul {
            display: none;
            gap: 48px;

            @include md {
                display: flex;
            }
        }
    }

    .test {
        text-transform: uppercase;
    }

    a {
        &:hover {
            position: relative;
            z-index: 100000;
        }
    }
}