/* =============
    Mobile Menu Squares
============= */

.mobile-menu-squares {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    width: 100%;
    height: 100vh;
    
    .menu-square {
        background-color: var(--cyan);
        aspect-ratio: 1;
    }
}

