/* =============
    About Page
============= */

#about-page {
    h3 {
        text-align: justify;
        text-align-last: justify;
    }

    .hero {
        //temporary
        background-color: gray;

        .content {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-bottom: 12px;

            .repeated-container {
                .repeated-text {
                    @include sm {
                        font-size: 2.016rem;
                    }

                    @include md {
                        font-size: 1.125rem;
                        max-width: 24ch;
                    }

                    @include lg {
                        font-size: 1.5rem;
                    }
                }
            }

            .team-pic-container {
                position: relative;

                picture {
                    display: block;

                    img {
                        width: 100%;
                    }
                }

                #about-square-1 {
                    position: absolute;
                    top: calc(310 / 354 * 100%);
                    left: calc(180 / 272 * 100%);
                }
            }

            #about-square-2 {
                display: none;

                @include md {
                    display: initial;
                }
            }

            #about-square-3 {
                background: var(--white);
            }
        }
    }

    .story {
        background-color: var(--cyan);
        color: var(--white);

        .story-grid {
            display: grid; //I presume
        }
    }

    .what-we-do {
        background-color: var(--key);
        color: var(--white);

        .content {
            display: flex;
            padding: 90px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 27px;

            .mobile-squares-container {
                //temporary
                background-color: #F266B9;

                display: flex;
                align-items: center;
                gap: 67px;
                // align-self: stretch;

                .square {
                    height: 67px;
                    width: 67px;
                    //temporary
                    background-color: gray;
                }
            }
        }
    }

    .bios-conc {
        .bios {
            margin-top: 47px;
            display: grid;
            gap: 40px;
            
            .bio {
                .bio-text {
                    h4 {
                        text-box: trim-both cap;
                    }

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}