
.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    transition: background-color 0.3s ease-in-out;
    contain: paint;
    width: 100%;

   

    .four-repeat-type { //main container for the repeat effect - this applies for the first and last sections
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        height: 230vh;
        contain: paint;


        .width-box { //Sets the width and margins for the text
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            top: 60vh;
            max-height: 100vh;
            color: var(--black);
            position: sticky;


            .row-holder { //container for the rows
                min-width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                
                div { //Row to split text between top and bottom
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 40vh;
                    padding: 0;
                    position: relative;
                    
                    h2 {
                        width: 24ch;
                        line-height: normal;
                        text-align: justify;
                        text-align-last: justify;
                        margin: 0 0 0 60%;

                        &:first-of-type {
                            position: absolute;
                            margin: 0;
                        }
                    }
                }
            }   
        }
    }

    > .four-repeat-type {
            color: var(--white);
    }

    .four-repeat-type.clone {
        color: var(--black);
    }
            
    .ketchup-wrapper {
        width: 100vw;
        height: 230vh;
        display: flex;
        justify-content: center;
        position: relative;

        .ketchup-hero{
            position: sticky;
            top: 0;
            align-self: flex-start;
            width: 100vw;
            height: 120vh;
            z-index: -1;

            transform: translateX(600px);
        }
    }    
    
   

    .brands-container {//basic styling for the brands container
        position: relative;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brand-paragraphs, .brand-letters { // grid layout for the brand letters and paragraphs
        display: grid;
        width: 114%;
        max-width: 1641.6px; //114 % of 1440
        

        grid-template-areas: 
            "b r . . . ."
            "a p1 p1 . n ."
            ". . p2 p2 . d"
            ". . s . . ."
        ;
        grid-template-columns: repeat(6, 1fr); // 6 equal columns
        grid-template-rows: repeat(4, 1.25em); // 4 equal rows
        
        div {
           grid-area: p1;
        }
    }
    
    .brands-container { //styling for the brand letters and paragraphs
        
        // Setting up brands type grid and applying styling for the paragraphs.
        $span-areas: b, r, a, n, d, s;
        $div-areas: p1, p2;


        .brand-letters {
            position: sticky;
            top: 0;
            color: var(--green);           

            span { // each individual letter

                @for $i from 1 through length($span-areas) {
                    &:nth-of-type(#{$i}) {
                    grid-area: nth($span-areas, $i);
                    }
                }    

                padding-left: 14%;
                letter-spacing: -0.5rem;
            }
        }

        .brand-paragraphs {
            position: absolute;
            
            div {// each paragraph
                @for $i from 1 through length($div-areas) {
                    &:nth-of-type(#{$i}) {
                    grid-area: nth($div-areas, $i);
                    }
                }
                
                display: flex;
                align-items: center;
                justify-content: center;
    
                h3 {
                    text-align: justify;
                    text-align-last: justify;
                    width: 34ch;
                    margin: 0;
                }
            }
        }
    }

    .brands-content {
        width: 100%;
        align-items: center;
        padding: 0 4rem 0 4rem;
        margin-bottom: 120vh;
        margin-top: -20vh;

        // position: absolute;
        width: 100vw;
        max-width: 1440px;
        display: grid;
        gap: 1.75rem;
        grid-template-areas: 
            ". TW . . . ."
            ". . . . LS ."
            ". . . . TE ."
            "ASP . . . . ."
            ". . PRJS . . .";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        box-sizing: border-box;


        .brand-item {
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                position: relative;
                z-index: 2;
            }

            .more-info {
                position: absolute;
                z-index: -1;
            }

            // Apply grid areas to the brand-item divs
            &:nth-child(1) { grid-area: TW; }  // The Window
            &:nth-child(2) { grid-area: LS; }  // Lemonade Stand
            &:nth-child(3) { grid-area: TE; }  // Those Eyes
            &:nth-child(4) { grid-area: ASP; }  // American Scripture Project
            
            &:nth-child(5) {  // See brands
                grid-area: PRJS; 
                // background-color: red;
                display: flex;
                justify-content: start;
                align-items: start;
            } 
        }
    }
    
    .collabs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
        padding-bottom: 10rem;
        display: none;

        .collabs-paragraph {
            width: 100%;
            display: grid;
            grid-template-areas: 
                ". . p p .";
            grid-template-columns: repeat(5, 1fr); // 3 equal columns
            gap: 1.75rem;
            align-items: center;

            h2 {
                grid-area: p;
                text-align: justify;
                text-align-last: justify;
                margin-top: 20vh;
                margin-bottom: 30vh;
            }
        } 

        .adam-collab {
            width: 100%;
            height: auto;
            min-height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                padding: 6rem;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                object-fit: contain;
            }

            h3 {
                width: 100%;
                margin: 0;
                aspect-ratio: 11 / 6;
                padding: 2rem;
                
                z-index: 1;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-template-areas:
                    "I T1 .  .  .  .  .  .  .  .  ."
                    ". .  S  .  .  .  .  .  .  .  ."
                    ". .  .  .  .  .  .  .  .  .  ."
                    ". .  A  .  B  .  . T2 I2  .  ."
                    ". .  O  U  .  .  .  M  .  .  ."
                    ". .  .  .  .  T3 .  .  .  .  E"
                ;
            
                span {
                    text-align: center;;
                    padding: 0;
                    letter-spacing: 0;
                }
                  
                .I   { grid-area: I; }
                .T1  { grid-area: T1; }
                .S   { grid-area: S; }
                .A   { grid-area: A; }
                .B   { grid-area: B; }
                .T2  { grid-area: T2; }
                .I2  { grid-area: I2; }
                .O   { grid-area: O; }
                .U   { grid-area: U; }
                .M   { grid-area: M; }
                .T3  { grid-area: T3; }
                .E   { grid-area: E; }
            }

            .sideways-copy {
                z-index: 1;
                position: absolute;
                bottom: 2rem;
                
                width: 100%;
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                grid-template-rows: 1fr;
                grid-template-areas: 
                "p1 d . . . . . . p2 .";



                p {
                    font-family: "Degular Mono";
                    writing-mode: vertical-rl;
                    transform: rotate(180deg); /* optional, matches the upside-down style */

                    &:last-of-type {
                        grid-area: p2;
                    }
                    
                }

                .sideways1 {
                    grid-area: p1;
                    justify-self: end;
                    transform: rotate(180deg) translateY(50%);
                }


                div {
                    grid-area: d;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-right: 15%;
                }
            }
        }
    }

    .yellow-ketchup-section {
        position: relative;
        margin-top: -110vh;
    }

    .testimonial {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        margin-top: 10vh;


        display: flex;
        justify-content: center;
        align-items: center;    
        
        div {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        p {
            text-transform: none;
            text-align: justify;
            text-align-last: justify;
            font-weight: 500;
            line-height: 124%; /* 2.48rem */
            letter-spacing: 0.2rem;
            width: 32ch;
            color: var(--key);


            &:last-of-type {
                text-align: left;
                text-align-last: left;
                width: auto;
                font-size: 1.25rem
            }

            span {
                color: transparent;
            }
        }
    }

    .CTA-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: none;
        height: auto;
        

        .four-repeat-type {
            position: relative;
            height: auto;
            margin-bottom: 15vh;
            

            
            .width-box { //Sets the width and margins for the text
                margin-top: 20vh;
                position: relative;
                top: 0;


                div {
                    margin-bottom: 30vh;

                }
            }

        }
      
        .button-text {
            display: block;
            padding: .2rem .8rem .2rem 0;
            width: fit-content;
            margin-top: 1.5rem;
        }
        
    }

    .yellow-ketchup-img {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
    }
}