/* ===== HOME PAGE STYLES ===== */

.home-container {
    /* ===== SMALL SQUARES GRID ===== */
    .small-squares {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 100;
        pointer-events: none;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(65, 1fr);

        div {
            &:nth-of-type(1) { grid-row: 5; grid-column: 3; }
            &:nth-of-type(2) { grid-row: 6; grid-column: 3; }
            &:nth-of-type(3) { grid-row: 3; grid-column: 9; }
            &:nth-of-type(4) { grid-row: 9; grid-column: 2; }
            &:nth-of-type(5) { grid-row: 10; grid-column: 4; }
            &:nth-of-type(6) { grid-row: 12; grid-column: 3; }
            &:nth-of-type(7) { grid-row: 13; grid-column: 3; }
            &:nth-of-type(8) { grid-row: 18; grid-column: 15; }
            &:nth-of-type(9) { grid-row: 24; grid-column: 4; }
            &:nth-of-type(10) { grid-row: 25; grid-column: 4; }
            &:nth-of-type(11) { grid-row: 26; grid-column: 12; }
            &:nth-of-type(12) { grid-row: 42; grid-column: 11; }
            &:nth-of-type(13) { grid-row: 43; grid-column: 5; }
            &:nth-of-type(14) { grid-row: 48; grid-column: 14; }
            &:nth-of-type(15) { grid-row: 60; grid-column: 3; }
            &:nth-of-type(16) { grid-row: 58; grid-column: 11; }
            &:nth-of-type(17) { grid-row: 56; grid-column: 11; }
        }
    }

    /* ===== HERO SECTION ===== */
    // Mobile Hero Section (SM & MD only)
    .hero-section-mobile {
        height: 240vh; // Total height including 60vh transform from JS

        @include lg {
            display: none;
        }

        .ketchup-parent {
            height: 100vh;
            background-image: url('../../assets/company-pages/hero-ketchup-mobile.jpg');
            background-size: cover;
            z-index: -1;
        }

        .p-parent {
            position: sticky;
            top: 0;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: column;
            gap: 1rem;

            .p-child {
                padding: 0 map-get($margins, min);
                width: 100%;
                line-height: normal;
                text-align: justify;
                text-align-last: justify;
                color: var(--white);
                z-index: 1;
                position: absolute;
                margin-bottom: 5vh;

                @include md {
                    width: 75%;
                }
            }
        }
    }

    // Desktop Hero Section (LG+ only)
    .hero-section-lg {
        display: none;

        @include lg {
            display: block;
            height: calc(120vh + 85vh + 130vh); // 100vh for ketchup, 75vh for p-parent, 60vh for JS transform
        
            .p-parent {
                z-index: 1;
                position: sticky;
                align-self: center;
                top: 0;
                height: 85vh;
                display: flex;
                justify-content: end;
                flex-direction: column;
                contain: paint;
                overflow: hidden;
                width: 100%;
                margin: auto;
            }

            .p-child {
                position: absolute;
                bottom: 0;
                left: 20%;
                display: grid;
                height: 100%;
                max-width: 100%;
                grid-template-columns: repeat(2, 60vw);
                grid-template-rows: repeat(2, 1fr);
                align-self: left;
                color: var(--white);
                z-index: 2;

                &.clone {
                    color: var(--black);
                    z-index: 1;
                }

                h2 { 
                    padding: 0; 
                    margin: 0;
                    width: 24ch;
                    line-height: normal;
                    text-align: justify;
                    text-align-last: justify;

                    &:nth-last-of-type(-n+2) {
                        align-self: end;
                    }
                }
            }
        
            .ketchup-parent {
                width: 60vw;
                height: 72vh;
                background-image: url('../../assets/company-pages/h1_magenta-ketchup-home.jpg');
                background-size: cover;
                z-index: 0;
                transform-origin: center center;
                will-change: transform;
                max-width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    /* ===== BRANDS SECTION ===== */
    .brands-container {
        $span-areas: b, r, a, n, d, s;
      
        contain: paint;
        position: relative;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -60vh;
        z-index: 1;

        @include md {
            height: calc((80vh + 150vh + 120vh)); // brand-paragraphs + brand-content + translateY value from JS
        }

        @include lg {
            margin-top: -155vh;
            height: calc((96rem + 96rem + 80rem)); // height of brand letters + height of brand paragraphs + height of brand images
        }

        // Brand Letters Grid
        .brand-letters {
            font-size: 14rem;
            position: absolute;
            top: 0;
            color: var(--green);           
            display: grid;
            width: 124%;
            transform: translateY(0%);

            @include lg {
                height: auto;
                font-size: 24rem;
                line-height: 1;
            }

            grid-template-areas: 
                "b r . "
                ". r a"
                "n d ."
                ". . s"
            ;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1.75em);

            @include md {
                width: 114%;
                position: sticky;
                grid-template-areas: 
                    "b r . . . ."
                    "a . . . n ."
                    ". . . . . d"
                    ". . s . . ."
                ;
            }

            @include lg {    
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 1.25em);
            }
        
            span {
                @for $i from 1 through length($span-areas) {
                    &:nth-of-type(#{$i}) {
                        grid-area: nth($span-areas, $i);
                    }
                }    

                letter-spacing: 0rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        // Brand Paragraphs
        .brand-paragraphs {
            padding: 0 map-get($margins, min);
            width: 100%;
            height: 58rem;

            @include md {
                width: 60%;
                position: absolute;
                height: 80vh;
            }

            div {
                width: 100%;
                line-height: normal;
                text-align: justify;
                text-align-last: justify;
                margin-top: 16rem;
                

                @include lg {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:last-of-type {
                    margin-top: 18rem;
                    margin-bottom: 9rem;

                    @include md {
                        margin-top: 14.5rem;
                    }

                    @include lg {
                        margin: 0;
                    }
                }

                @include lg {
                    h3 {
                        text-align: justify;
                        text-align-last: justify;
                        width: 34ch;
                        margin: 0;
                    }
                }
            }
        }

        // Grid layout for brand letters and paragraphs (LG+)
        @include lg {
            .brand-paragraphs, .brand-letters {
                display: grid;
                $div-areas: p1, p2;
                max-width: 1641.6px;
                width: 114%;
    
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 24rem);

                grid-template-areas: 
                    "b r . . . ."
                    "a p1 p1 . n ."
                    ". . p2 p2 . d"
                    ". . s . . ."
                ;

                div {
                    &:nth-of-type(1) {
                        grid-area: p1;
                    }
                    &:nth-of-type(2) {
                        grid-area: p2;
                    }
                }
            }
        }

        // Brand Content Grid
        .brands-content {
            padding: 0 map-get($margins, min) 10rem;
            width: 100%;
            
            @include md {
                position: absolute;
                height: 125vh;
                margin-top: 80vh;
                width: 100vw;
                max-width: 1440px;
                display: grid;
                gap: 1.75rem;
                grid-template-areas: 
                    ". TW . ."
                    ". . . LS"
                    ". . TE ."
                    "ASP . PRJS .";
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                box-sizing: border-box;

                padding: 0 map-get($margins, md) 10rem;
            }

            @include lg {
                position: relative;
                height: auto;
                margin-top: 0;

                grid-template-areas: 
                    ". TW . . . ."
                    ". . . . LS ."
                    ". . . . TE ."
                    "ASP . . PRJS  . .";
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 1fr);
                box-sizing: border-box;
            }

            @include xl {
                padding: 0 map-get($margins, xl) 10rem;
            }

            .brand-item {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding-bottom: 3rem;

                @include md {
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    text-align: justify;
                    text-align-last: justify;

                    &:nth-child(1) { grid-area: TW; }  // The Window
                    &:nth-child(2) { grid-area: LS; }  // Lemonade Stand
                    &:nth-child(3) { grid-area: TE; }  // Those Eyes
                    &:nth-child(4) { grid-area: ASP; }  // American Scripture Project
                }

                &:not(div) > a {
                    display: inline-block;
                    line-height: 0;
                }

                img {
                    width: 100%;

                    

                    @include md {
                        height: auto;
                        object-fit: contain;
                        position: relative;
                        
                        &:not(.more-info) {
                            z-index: 10;
                        }
                    }
                }
                // Hide the backup images on mobile and tablet
                @media (max-width: 1023px) {
                    > img {
                        display: none;
                    }
                }
                
    
                .more-info {
                    display: none;

                    @include md {
                        display: flex;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }

                div { //See brands button
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    position: relative;

                    h3 {
                        margin-top: .7em;
                        margin-bottom: 0;
                    }

                    p {
                        letter-spacing: 0.1rem;
                        text-transform: none;
                    }

                    @include lg {
                        position: absolute;
                        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                        height: 100%;
                    }
                }
            }

            div.brand-item {
                display: flex;
                align-items: center;
                margin: 3rem 0;
                cursor: default;

                @include md {
                    grid-area: PRJS; 
                    justify-content: end;
                    margin: 0;
                    padding-bottom: 3rem;
                }
            }
        }
    }

    /* ===== COLLABORATIONS SECTION ===== */
    .collabs {
        display: none;
    }

    /* ===== TESTIMONIAL SECTION ===== */
    .yellow-ketchup-section {
        position: relative;
        height: 160vh;
        z-index: 2;

        background: linear-gradient( /*This gradinet hides the S when the viewport is to short. It has to disappear before the end of the section thoguh so that the cursor works on the "see brands" button*/
            to bottom,
            var(--white) 0px,
            var(--white) 750px,
            transparent 751px
        );

        
        @include md {
            margin-top: -120vh;
        }

        @include lg {
            margin-top: -100rem;
            height: 200vh;
        }
       
        .mobile-yellow-ketchup-img {
            width: 100%;
            height: 110vh;
            background-image: url('../../assets/company-pages/h8_yellow-ketchup-home.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right bottom;
            position: sticky;
            top: 0;
            

            @include lg {
                height: 100vh;

            }
        }

        .yellow-ketchup-img {
            display: none;
        }
       
        .yellow-text-section {
            padding: 0 map-get($margins, min);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            contain: paint;
        }

        .testimonial {
            top: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            @include md {
                width: 75%;
            }

            p {
                text-transform: none;
                font-weight: 400;
                text-align: justify;

                @include lg {
                    font-weight: 500;
                    line-height: 124%;
                    letter-spacing: 0.2rem;
                    width: 32ch;
                }
            }

            .with-breaks {
                display: none;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: end;
            }

            p {
                &:last-of-type {
                    margin-top: 1rem;
                    text-align: left;
                    text-align-last: left;
                    width: auto;
                    font-size: 1.25rem;
                }

                span:first-of-type {
                    color: transparent;
                }

                span:last-of-type {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }

        .CTA-container {
            display: flex;
            height: 30vh;

            h2 {
                width: 100%;
                line-height: normal;
                text-align: justify;
                text-align-last: justify;
                color: var(--black);
                margin: auto;

                .button-text {
                    margin-top: 1rem;
                    display: inline-block;
                    text-align: left;
                    text-align-last: left;
                    margin-left: -0.3rem;
                }

                @include md {
                    width: 75%;
                }

                @include lg {
                    padding: 0;
                    margin: 0;
                    width: 24ch;
                    line-height: normal;
                    text-align: justify;
                    text-align-last: justify;
                    color: var(--black);

                    &:nth-of-type(1) {
                        grid-area: area2;
                    }
                    &:nth-of-type(2) {
                        grid-area: area3;
                    }
                    &:nth-of-type(3) {
                        grid-area: area5;
                    }
                    &:nth-of-type(4) {
                        grid-area: area6;
                    }
                    &:nth-last-of-type(-n+2) {
                        align-self: end;
                    }
                }
            }

            @include lg {
                display: grid;
                height: 85vh;
                grid-template-columns: 20% 60% 20%;
                grid-template-rows: repeat(2, 1fr);
                align-items: center;
                justify-content: center;

                grid-template-areas:
                    "area1 area2 area3"
                    "area4 area5 area6";
            }
        }
    }
}

/* ===== FOOTER ===== */
footer {
    margin-top: 10rem;
}