.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .home-txt-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        
        .home-box {
            margin-top: 65vh;
            width: 60%;
            display: flex;
            flex-wrap: wrap;

            .home-txt {
                min-width: 100vw;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                
                    
                .home-row {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 50vh;
                    padding: 0;
            
                    h2 {
                        width: 24ch;
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.1rem;
                        text-transform: uppercase;
                        text-align: justify;
                        text-align-last: justify;
                        margin: 0 0 0 60%;

                        &:first-of-type {
                            position: absolute;
                            margin: 0;
                        }
                    }
                }
            }
        }

    }
            
    .ketchup-wrapper {
        width: 100vw;
        height: 180vh;
        // background-color: red;
        display: flex;
        justify-content: center;
        // align-items: top;



        .ketchup-hero{
            position: sticky;
            top: 0;
            align-self: flex-start;
            width: 60%;
            height: auto;
            margin-top: 90vh;
            z-index: -1;
        }
    }    
    
    .brands-container {
        position: relative;
        height: 275vh;
        width: 100vw;
        overflow: hidden;
        display: flex;

        .brands-wrapper {
            color: var(--green);
            width: 114%;
            position: absolute;
            align-self: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: grid;
            align-items: center;
            grid-template-areas: 
                "b r . . . ."
                "a p1 p1 p1 n ."
                ". . p2 p2 . d"
                ". . s . . .";
            grid-template-columns: repeat(6, 1fr); // 3 equal columns
            grid-template-rows: repeat(4, 1.7em); // 2 rows
        
            span:nth-of-type(1) { grid-area: b; } // First span
            span:nth-of-type(2) { grid-area: r; } // Second span
            span:nth-of-type(3) { grid-area: a; } // Third span
            span:nth-of-type(4) { grid-area: n; } // Fourth span
            span:nth-of-type(5) { grid-area: d; } // Fifth span
            span:nth-of-type(6) { grid-area: s; } // Fifth span
            div:nth-of-type(1) { grid-area: p1; }
            div:nth-of-type(2) { grid-area: p2; }

            span { 
                text-align-last: justify;
                padding-left: 12%;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;


                h3 {
                    color: var(--key);
                    text-align: justify;
                    text-align-last: justify;                width: 35ch;
                    width: 34ch;
                    position: absolute;
                    align-self: center;

                }

            }

           
        }

       

    }
   
}
