/* =============
    Buttons
============= */
button {
    all: unset;
    white-space: nowrap;
}

/* Arrow Button */

    .arrow-btn {
        position: relative;
        padding: 20px 30px;
        text-transform: uppercase;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
    }

    .floating-arrow {
        position: absolute;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-10px);
        transition: all 0.3s cubic-bezier(.34,1.56,.64,1);
    }

    .arrow-0 {
        transition: all 0.3s cubic-bezier(.34,1.56,.64,1);
        display: inline-block;
    }

    .arrow-btn {
        &:hover {

            color: var(--magenta);
            .floating-arrow {
                opacity: 1;
                transform: translateX(0);
            }

            .arrow-0 {
                transform: translateX(10px); /* Adjusted to account for absolute positioning */
            }
        }
    }

    .arrow {
        &-1 {
            top: 1.2rem;
            left: 0rem;
        }

        &-2 {
            top: 0rem;
            right: 4rem;
        }

        &-3 {
            bottom: 0rem;
            left: 11rem;
        }
    }

/* End Arrow Button */