/* =============
    Forms
============= */

$input-types: text, password, date, datetime, datetime-local, month, week, email, number, search, tel, time, url, color;

@each $type in $input-types {
  [type='#{$type}'] {
    box-shadow: none;
    
    &:focus {
      box-shadow: none;
    }
  }
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
    appearance: none;
}