/* =============
    Next Project
============= */

.next-project {
        display: flex;
        margin-top: 64px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transform: scale(0.75);
        // border: 1px solid #000;
        position: relative;
        // width: fit-content;
        width: 100%;
        margin-inline: auto;

        @include sm {
            transform: none;
            align-items: flex-end;
            margin-inline: initial;
        }

        a {
            display: flex;
            gap: 18px;
            width: fit-content;
            height: fit-content;
            // border: 1px solid #000;

            .next-project-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 25px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        transition: color 300ms cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
                        // transition: color 300ms ease-in-out;
                        &:not(:first-child) {
                            margin-left: -24px;
                            transition: margin-left 300ms cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
                            // transition: margin-left 300ms ease-in-out;
                        }
                    }

                    .arrow-1 {
                        color: var(--magenta);
                    }

                    p {
                        text-align: justify;
                        text-box: trim-both cap;
                        /*https://caniuse.com/mdn-css_properties_text-box*/
                    }
                }

                h2 {
                    margin: 0;
                    text-align: right;
                    transition: font-weight 300ms cubic-bezier(0.4, 0, 0.2, 1); //Better bezier for font-weight
                    // transition: font-weight 300ms ease-in-out;
                }
            }

            .next-project-img {
                margin-top: 5px;
                height: 185px;
                width: 185px;
                background-size: cover;
                background-position: center;

                &#lemonade-stand {
                    background-image: url("https://placehold.co/185x185.png");
                }

                .next-project-tint-overlay {
                    height: 100%;
                    width: 100%;
                    opacity: 0%;
                    background-color: var(--white);
                    transition: opacity 300ms cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
                    // transition: opacity 300ms ease-in-out;
                }
            }

            .project-floating-arrow {
                // white-space: nowrap;
                transition: opacity 300ms cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
                transition: right 300ms cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
                // transition: opacity 300ms ease-in-out;
                // transition: right 300ms ease-in-out;
                opacity: 0;
                font-size: 32px;

                &.arrow-2 {
                    position: absolute;
                    top: 12.6px;
                    right: 126px;
                }

                &.arrow-3 {
                    position: absolute;
                    top: 103.32px;
                    right: 88px;
                }
            }
        }

        &:hover {
            .next-project-text {
                div {
                    p:not(:first-child) {
                        margin-left: 0;
                    }

                    * {
                        color: var(--magenta) !important;
                    }
                }

                h2 {
                    font-weight: 700;
                }
            }

            .project-floating-arrow {
                opacity: 100%;

                &.arrow-2 {
                    right: 102px;
                }

                &.arrow-3 {
                    right: 64px;
                }
            }

            .next-project-tint-overlay {
                opacity: 15% !important;
            }
        }

        &:active {
            .project-floating-arrow {
                opacity: 0;
                transition: opacity 200ms cubic-bezier(0.02, 0.89, 0.85, 1);
            }
        }
    }