/* =============
    Next Project
============= */

.next-project {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
        display: flex;
        text-align: right;
        position: relative;
        font-size: 2rem;
        font-weight: 600;
        transition: transform 0.4s cubic-bezier(0.34, 1.3, 0.64, 1);

        // Left arrow (pink, next to "NEXT PROJECT")
        &::before {
            content: '—>';
            position: absolute;
            left: -4rem;
            top: -0.5rem;
            color: var(--magenta);
            z-index: 1;
            transition: inherit;
            
        }

        // Top right arrow (black, above square)
        > p {
            position: absolute;
            top: 2%;
            right: 15%;
            z-index: 1;
            color: var(--black);
            margin: 0;
            font-size: inherit;
            font-weight: inherit;
            transition: inherit;

        }

        // Middle right arrow (black, to the right of middle of square)
        &::after {
            content: '—>';
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--black);
            z-index: 1;
            transition: inherit;

        }


        div {
            margin-right: 2rem;
            transition: all 0.4s cubic-bezier(0.34, 1.3, 0.64, 1); // easeOutBack
            display: flex;
            flex-direction: column;

            p {
                white-space: nowrap;
                padding: 0;
            }

            h2 {
                flex: 1;
                display: flex;
                align-items: center;
                margin: 0;
            }
        }

        img {
            height: 185px;
            width: 185px;
        }

        &:hover {
            &::before {
                transform: translateX(2.5rem);
            }

            > p {
                transform: translateX(2.5rem);
            }

            &::after {
                transform: translateY(-50%) translateX(3rem);
            }

            div {
                transform: translateX(1rem);
            }
        }
    }
}