/* =============
    Next Project
============= */

.next-project {
    a {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 8fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "text ."
            "text img"
        ;
        
        &:hover {
            color: var(--key);
            .button-text {
                text-decoration: underline;
            }
        }
    
        .next-project-text {
            grid-area: text;


            H2 {
                font-size: 1rem;
                margin-top: 0rem;
            }
        }
    
        .next-project-img-container {
            grid-area: img;
            width: 2rem;
            height: 1.3rem;
            overflow: hidden;

            img {
                width: 100rem;
                height: auto;
                object-fit: cover;
            }
        }

        .button-text {
            background-color: transparent;
            color: var(--key);
            font-size: 1.5rem;
            white-space: nowrap;
            padding-left: 0rem;
            
        }

        .project-floating-arrow {
            margin-top: -0.1rem;
            height: 3rem;
        }

        
    }
   
}




@include md {
    .next-project {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: transparent;
        margin-top: 5rem;

        .button-text {
            background-color: transparent;
            &:hover {background-color: transparent;}
        }


        a {
            display: flex;
            text-align: right;
            position: relative;
            font-size: 2.2rem;
            font-weight: 600;
            font-family: "Degular Mono", monospace;
            transition: all 0.4s cubic-bezier(0.34, 1.3, 0.64, 1);
            width: auto;
            margin: 0;

            &:hover {
                .button-text {
                    text-decoration: underline;
                }
            }


            // Left arrow (pink, next to "NEXT PROJECT")
            &::before {
                content: '—>';
                position: absolute;
                left: -5rem;
                top: -0.6rem;
                color: var(--magenta);
                font-size: inherit;
                font-weight: inherit;
                font-family: inherit;
                z-index: 1;
                transition: inherit;
                opacity: 0;   
            }

            >.button-text {
                font-size: 2rem;
            }
            // Top right arrow (black, above square)
            > p {
                position: absolute;
                top: 2%;
                right: 15%;
                z-index: 1;
                color: var(--black);
                margin: 0;
                font-size: inherit;
                font-weight: inherit;
                font-family: inherit;
                transition: inherit;
                opacity: 0;
                // font-size: 2rem;
            }

            // Middle right arrow (black, to the right of middle of square)
            &::after {
                content: '—>';
                position: absolute;
                right: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
                color: var(--black);
                z-index: 1;
                font-size: inherit;
                font-weight: inherit;
                font-family: inherit;
                transition: inherit;
                opacity: 0;

            }


            .next-project-text {
                margin-right: 2rem;
                transition: all 0.4s cubic-bezier(0.34, 1.3, 0.64, 1); // easeOutBack
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p {
                    white-space: nowrap;
                    padding: 0;
                    transition: inherit;
                    color: var(--black);
                }

                h2 {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    font-size: 2rem;

                }
            }

            .next-project-img-container {
                width: 9rem;
                height: 9rem;
                overflow: hidden;
                transition: inherit;
                width: 11.5rem;
                height: 11.5rem;


                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: inherit;
                }
            }

            

            &:hover {
                &::before {
                    transform: translateX(2.5rem);
                    opacity: 1;
                }

                > p {
                    transform: translateX(2.5rem);
                    opacity: 1;
                    color: var(--black);
                    text-decoration: none;
                }

                .project-floating-arrow {
                    text-decoration: none;
                }

                &::after {
                    transform: translateY(-50%) translateX(3rem);
                    opacity: 1;
                }

                .next-project-text {
                    transform: translateX(1rem);

                    p {
                        color: var(--magenta);
                        text-decoration: none;

                    }
                }
                
                img {
                    transform: scale(1.1);
                }

                
            }
        }
    }
}